<!-- email form -->
<form id="email" class="w-full flex flex-col md:w-2/3 gap-2 lg:w-1/2" autocomplete="off">
    <div class="form-control">
        <label class="input-group">
            <input type="email" name="email" id="email" placeholder="info@site.com" class="input input-bordered"
                required />
            <button id="submit" type="submit" class="btn btn-primary">Join our waitlist!</button>
        </label>
    </div>
</form>

<!-- success block -->
<div id="success" class="hidden text-success"> You've contacted successfully, We'll get back to you
    soon 📧
</div>

<!-- error block -->
<div id="error" class="hidden text-md">
    <p>Oops! There's some error while sending the contact details. Try again please.</p>
</div>

<!-- import js -->
<script src="/js/forms/email.js"></script>