<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- SEO -->
  <meta name="description"
    content="Save time and get to market faster with this free fully responsive single page html template built with TailwindCSS." />
  <link rel="canonical" href="https://talland-basic-app.vercel.app/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Basic App Landing Page" />
  <meta property="og:description"
    content="Save time and get to market faster with this free fully responsive single page html template built with TailwindCSS." />
  <meta property="og:image" content="LINK TO THE IMAGE FILE" />
  <meta property="og:url" content="https://talland-basic-app.vercel.app/" />
  <meta property="og:site_name" content="Basic App Landing Page" />
  <meta name="twitter:title" content="TITLE OF POST OR PAGE" />
  <meta name="twitter:description"
    content="Save time and get to market faster with this free fully responsive single page html template built with TailwindCSS." />
  <meta name="twitter:image" content="LINK TO IMAGE" />
  <meta name="twitter:site" content="@britzdm" />
  <meta name="twitter:creator" content="@britzdm" />
  <meta name="”robots”" content="”index," follow” />
  <!-- end SEO -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap"
    rel="stylesheet" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Basic App Landing Page</title>
</head>

<body class="text-slate-700 bg-slate-50">
  <!-- header -->
  <header class="p-4 lg:py-2 lg:px-0 container mx-auto grid lg:flex lg:justify-between grid-cols-2 text-slate-700">
    <nav class="flex items-center">
      <img class="w-12 mr-16" src="/img/logo.png" alt="logo" />

      <ul class="lg:flex hidden">
        <!-- <li class="mr-8">
            <a class="font-medium hover:text-slate-900" href="#">Demos</a>
          </li>
          <li class="mr-8">
            <a class="font-medium hover:text-slate-900" href="#">About</a>
          </li>
          <li class="mr-8">
            <a class="font-medium hover:text-slate-900" href="#">Blog</a>
          </li>
          <li class="mr-8">
            <a class="font-medium hover:text-slate-900" href="#">Pages</a>
          </li> -->
        <li class="mr-8">
          <a class="font-medium hover:text-slate-900" href="#">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="hidden lg:block">
      <!-- <button class="mx-1 hover:underline p-4">Login</button> -->
      <button
        class="px-4 py-3 bg-emerald-400 hover:bg-emerald-600 hover:cursor-pointer text-white font-medium rounded mx-1">
        Get Started For Free
      </button>
    </div>
    <!-- mobile menu button -->
    <button type="button"
      class="lg:hidden justify-self-end inline-flex items-center justify-center rounded-md bg-gray-50 p-2 hover:bg-gray-400 hover:text-white focus:outline-none"
      aria-controls="mobile-menu" aria-expanded="false">
      <span class="sr-only">Open main menu</span>
      <!--
          Menu open: "hidden", Menu closed: "block"
        -->
      <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
      <!-- 
          Menu open: "block", Menu closed: "hidden"
        -->
      <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" aria-hidden="true">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    <!-- mobile menu -->
    <div id="mobile-menu" class="col-span-2 bg-slate-50 p-2 mt-4 rounded shadow-lg hidden lg:hidden">
      <ul class="w-full py-2">
        <!-- <li
          class="bg-slate-900 text-white hover:bg-slate-400 focus:bg-slate-400 hover:text-white focus:text-white p-2 rounded">
          <a class="font-medium hover:text-slate-900" href="#">Demos</a>
        </li>
        <li class="hover:bg-slate-400 focus:bg-slate-400 hover:text-white focus:text-white p-2 rounded">
          <a class="font-medium hover:text-slate-900" href="#">About</a>
        </li>
        <li class="hover:bg-slate-400 focus:bg-slate-400 hover:text-white focus:text-white p-2 rounded">
          <a class="font-medium hover:text-slate-900" href="#">Blog</a>
        </li>
        <li class="hover:bg-slate-400 focus:bg-slate-400 hover:text-white focus:text-white p-2 rounded">
          <a class="font-medium hover:text-slate-900" href="#">Pages</a>
        </li> -->
        <li class="hover:bg-slate-400 focus:bg-slate-400 hover:text-white focus:text-white p-2 rounded">
          <a class="font-medium hover:text-slate-900" href="#">Contact</a>
        </li>
      </ul>
      <div class="border-t border-gray-400 pt-4">
        <button
          class="block w-full text-center p-4 bg-slate-900 hover:bg-slate-700 hover:cursor-pointer text-white font-medium rounded mx-1">
          Get Started For Free
        </button>
        <!-- <button class="block w-full text-center mx-1 hover:underline p-4">
          Login
        </button> -->
      </div>
    </div>
  </header>
  <!-- hero -->
  <section
    class="py-8 px-4 md:px-8 lg:py-16 2xl:py-40 2xl:px-60 mx-auto grid grid-cols-1 gap-8 lg:grid-cols-12 relative">
    <div class="col-span-6 xl:place-self-center mb-8 mt-8 xl:mt-0 lg:mb-0">
      <h1 class="text-3xl md:text-4xl xl:text-5xl 3xl:text-6xl font-medium text-center lg:text-left">
        Just one click away <br />
        to create a modern app <br />
        landing page
      </h1>
      <p class="my-8 max-w-lg mx-auto lg:mx-0 text-center lg:text-left">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis iste
        perspiciatis commodi consequatur praesentium accusantium? Provident,
        tempore dignissimos. Accusantium officiis expedita nobis rem autem ab,
        numquam blanditiis omnis veniam ex!
      </p>
      <!-- contact -->
      <%- include("forms/email.ejs")%>
        <!-- end contact -->
    </div>
    <div class="col-span-6 relative">
      <img class="hidden xl:block absolute z-0 right-[9px] top-[13px]" src="./assets/app_bg.svg" alt="" />
      <!-- <picture>
          <source srcset="./assets/app_bg.webp" type="image/webp" />
          <source srcset="./assets/app_bg.png" type="image/png" />
          <img
            class="hidden xl:block absolute z-0 right-[9px] top-[13px]"
            src="./assets/app_bg.png"
            alt=""
          />
        </picture> -->
      <div class="relative aspect-[366/729] mx-auto max-w-[320px]">
        <div
          class="shadow-xl absolute inset-y-[calc(1/729*100%)] right-[calc(5/729*100%)] left-[calc(7/729*100%)] rounded-[calc(58/366*100%)/calc(58/729*100%)]">
        </div>
        <div
          class="absolute top-[calc(23/729*100%)] left-[calc(23/366*100%)] grid h-[calc(686/729*100%)] w-[calc(318/366*100%)] transform grid-cols-1 overflow-hidden bg-gray-900 pt-[calc(23/318*100%)]">
          <div class="flex flex-col">
            <!-- content here -->
            <div class="bg-slate-900 w-full h-full">
              <div class="flex items-center">
                <img class="w-8 mt-5 mx-auto text-white" src="./assets/menu.svg" alt="logo" />
                <img class="w-8 mt-5 mx-auto" src="https://tailwindui.com/img/logos/mark.svg?color=white" alt="logo" />
                <img class="w-8 mt-5 mx-auto text-white" src="./assets/logout.svg" alt="logo" />
              </div>

              <div class="rounded-2xl bg-slate-50 mt-4 h-full p-4">
                <div class="flex justify-between p-1 mb-4 border-b border-slate-300 px-2 pt-4 pb-4">
                  <p class="text-sm font-medium">Business Users</p>
                  <img class="w-5 h-5" src="./assets/close.svg" alt="logo" />
                </div>
                <!-- card -->
                <div class="border bg-slate-300 shadow rounded-md p-4 max-w-sm w-full mx-auto mb-4">
                  <div class="animate-pulse flex space-x-4">
                    <div class="rounded-full bg-slate-700 h-4 w-4"></div>
                    <div class="flex-1 space-y-6 py-1">
                      <div class="h-2 bg-slate-700 rounded"></div>
                    </div>
                  </div>
                </div>
                <!-- end card -->
                <!-- card -->
                <div class="border bg-slate-300 shadow rounded-md p-4 max-w-sm w-full mx-auto mb-4">
                  <div class="animate-pulse flex space-x-4">
                    <div class="rounded-full bg-slate-700 h-4 w-4"></div>
                    <div class="flex-1 space-y-6 py-1">
                      <div class="h-2 bg-slate-700 rounded"></div>
                    </div>
                  </div>
                </div>
                <!-- end card -->
                <!-- card -->
                <div class="border bg-slate-300 shadow rounded-md p-4 max-w-sm w-full mx-auto mb-4">
                  <div class="animate-pulse flex space-x-4">
                    <div class="rounded-full bg-slate-700 h-4 w-4"></div>
                    <div class="flex-1 space-y-6 py-1">
                      <div class="h-2 bg-slate-700 rounded"></div>
                    </div>
                  </div>
                </div>
                <!-- end card -->
                <!-- card -->
                <div class="border bg-slate-300 shadow rounded-md p-4 max-w-sm w-full mx-auto mb-4">
                  <div class="animate-pulse flex space-x-4">
                    <div class="rounded-full bg-slate-700 h-4 w-4"></div>
                    <div class="flex-1 space-y-6 py-1">
                      <div class="h-2 bg-slate-700 rounded"></div>
                    </div>
                  </div>
                </div>
                <!-- end card -->
                <!-- card -->
                <div class="border bg-slate-300 shadow rounded-md p-4 max-w-sm w-full mx-auto mb-4">
                  <div class="animate-pulse flex space-x-4">
                    <div class="rounded-full bg-slate-700 h-4 w-4"></div>
                    <div class="flex-1 space-y-6 py-1">
                      <div class="h-2 bg-slate-700 rounded"></div>
                    </div>
                  </div>
                </div>
                <!-- end card -->
              </div>
            </div>
          </div>
        </div>
        <svg viewBox="0 0 366 729" aria-hidden="true"
          class="pointer-events-none absolute inset-0 h-full w-full fill-gray-500">
          <path fill="#F2F2F2" fill-rule="evenodd" clip-rule="evenodd"
            d="M300.092 1c41.22 0 63.223 21.99 63.223 63.213V184.94c-.173.184-.329.476-.458.851.188-.282.404-.547.647-.791.844-.073 2.496.257 2.496 2.157V268.719c-.406 2.023-2.605 2.023-2.605 2.023a7.119 7.119 0 0 1-.08-.102v394.462c0 41.213-22.001 63.212-63.223 63.212h-95.074c-.881-.468-2.474-.795-4.323-.838l-33.704-.005-.049.001h-.231l-.141-.001c-2.028 0-3.798.339-4.745.843H66.751c-41.223 0-63.223-21.995-63.223-63.208V287.739c-.402-.024-2.165-.23-2.524-2.02v-.973A2.039 2.039 0 0 1 1 284.62v-47.611c0-.042.001-.084.004-.126v-.726c0-1.9 1.652-2.23 2.496-2.157l.028.028v-16.289c-.402-.024-2.165-.23-2.524-2.02v-.973A2.039 2.039 0 0 1 1 214.62v-47.611c0-.042.001-.084.004-.126v-.726c0-1.9 1.652-2.23 2.496-2.157l.028.028v-26.041a2.26 2.26 0 0 0 .093-.236l-.064-.01a3.337 3.337 0 0 1-.72-.12l-.166-.028A2 2 0 0 1 1 135.62v-24.611a2 2 0 0 1 1.671-1.973l.857-.143v-44.68C3.528 22.99 25.53 1 66.75 1h233.341ZM3.952 234.516a5.481 5.481 0 0 0-.229-.278c.082.071.159.163.228.278Zm89.99-206.304A4.213 4.213 0 0 0 89.727 24H56.864C38.714 24 24 38.708 24 56.852v618.296C24 693.292 38.714 708 56.864 708h250.272c18.15 0 32.864-14.708 32.864-32.852V56.852C340 38.708 325.286 24 307.136 24h-32.864a4.212 4.212 0 0 0-4.213 4.212v2.527c0 10.235-8.3 18.532-18.539 18.532H112.48c-10.239 0-18.539-8.297-18.539-18.532v-2.527Z">
          </path>
          <rect x="154" y="29" width="56" height="5" rx="2.5" fill="#D4D4D4"></rect>
        </svg><img alt="" src="./assets/phone-frame.svg" width="366" height="729" decoding="async"
          class="pointer-events-none absolute inset-0 h-full w-full" />
      </div>
    </div>
  </section>
  <!-- pricing -->
  <section
    class="py-8 px-4 md:px-8 lg:py-16 2xl:py-40 2xl:px-60 mx-auto grid grid-cols-1 gap-8 lg:grid-cols-12 relative bg-gray-100">
    <h2 class="text-3xl md:text-4xl font-medium text-center col-span-12">
      We offer great price <br />
      plans for the application
    </h2>
    <p class="max-w-lg mx-auto text-center col-span-12 leading-relaxed mb-8">
      Objectively market-driven intellectual capital rather than covalent best
      practices facilitate strategic information before innovation
    </p>
    <div class="col-span-12 lg:col-span-10 lg:col-start-2 grid grid-cols-4 gap-4">
      <!-- starter -->
      <div class="col-span-4 md:col-span-2 xl:col-span-1 p-6 bg-white rounded-lg border border-slate-200">
        <div class="p-4 border-b border-slate-200">
          <small class="font-bold">Starter Plan</small>
          <p class="text-4xl py-8">
            $5 <small class="text-slate-400 text-sm">/ Per Month</small>
          </p>
          <small class="text-slate-400">This package is suitable <br />
            for teams of 1-15 people</small>
        </div>
        <div class="p-4">
          <ul class="leading-relaxed">
            <li class="pb-2 flex items-center">
              <img src="./assets/check.svg" class="mr-2 w-4" alt="" /> 10 GB
              DIsk Space
            </li>
            <li class="pb-2 flex items-center">
              <img src="./assets/check.svg" class="mr-2 w-4" alt="" /> 1 Year
              Support
            </li>
            <li class="pb-2 flex items-center">
              <img src="./assets/check.svg" class="mr-2 w-4" alt="" /> 500
              Queries
            </li>
            <li class="pb-2 flex items-center">
              <img src="./assets/check.svg" class="mr-2 w-4" alt="" /> Basic
              Statistics
            </li>
            <li class="pb-2 flex items-center">
              <img src="./assets/check.svg" class="mr-2 w-4" alt="" /> Free
              Custom Domain
            </li>
          </ul>
        </div>
        <div class="p-4">
          <button
            class="px-4 py-3 border bg-white rounded border-slate-400 text-center w-full hover:border-none hover:text-white hover:bg-emerald-500">
            Purchase Now
          </button>
        </div>
      </div>
      <!-- popular -->
      <div
        class="col-span-4 md:col-span-2 xl:col-span-1 p-6 bg-emerald-500 text-slate-100 rounded-lg border border-slate-200">
        <div class="p-4 border-b border-slate-200">
          <small class="font-bold">Starter Plan</small>
          <p class="text-4xl py-8">
            $46 <small class="text-sm">/ Per Month</small>
          </p>
          <small class="opacity-70">This package is suitable <br />
            for teams of 1-100 people</small>
        </div>
        <div class="p-4">
          <ul class="leading-relaxed">
            <li class="pb-2 flex items-center">
              <img src="./assets/check.svg" class="mr-2 w-4" alt="" /> 800 GB
              DIsk Space
            </li>
            <li class="pb-2 flex items-center">
              <img src="./assets/check.svg" class="mr-2 w-4" alt="" /> 10 Year
              Support
            </li>
            <li class="pb-2 flex items-center">
              <img src="./assets/check.svg" class="mr-2 w-4" alt="" /> 800
              Queries
            </li>
            <li class="pb-2 flex items-center">
              <img src="./assets/check.svg" class="mr-2 w-4" alt="" /> Full
              Statistics
            </li>
            <li class="pb-2 flex items-center">
              <img src="./assets/check.svg" class="mr-2 w-4" alt="" /> Free
              Custom Domain
            </li>
          </ul>
        </div>
        <div class="p-4">
          <button
            class="px-4 py-3 bg-white text-gray-700 rounded text-center w-full hover:border-none hover:text-white hover:bg-emerald-300">
            Purchase Now
          </button>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonials -->
  <section class="py-8 px-4 md:px-8 lg:py-16 2xl:py-40 2xl:px-60 mx-auto grid gap-8 grid-cols-12 relative">
    <h2 class="text-3xl md:text-4xl font-medium text-center col-span-12">
      What our satisfied <br />
      clients say about Tailland
    </h2>
    <p class="max-w-lg mx-auto text-center col-span-12 leading-relaxed mb-8">
      Landing is a network of fully furnished apartments across the whole
      country, so no matter where you land, it'll always feel like home.
    </p>
    <!-- card 1 -->
    <div
      class="border border-slate-200 rounded-lg xl:col-span-6 md:col-span-6 col-span-12 p-8 text-center lg:text-left">
      <div class="flex items-center justify-center lg:justify-start">
        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <title>First star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <title>Second star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <title>Third star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <title>Fourth star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <title>Fifth star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
      </div>
      <small class="my-8 block">"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
        omnis soluta vero velit alias architecto officiis non minima et iste
        modi, quod reprehenderit, tempora saepe fugit beatae ea quo
        obcaecati?"</small>
      <div class="flex items-center justify-center lg:justify-start">
        <img class="w-10 h-10 rounded-full block mr-2" src="http://www.placecage.com/250/250" alt="Rounded avatar" />
        <p class="text-lg leading-tight">
          Henry Slade <br />
          <small class="text-sm text-gray-400 leading-tight">Founder</small>
        </p>
      </div>
    </div>
    <!-- card 3 -->
    <div
      class="border border-slate-200 rounded-lg xl:col-span-6 md:col-span-6 col-span-12 p-8 text-center lg:text-left">
      <div class="flex items-center justify-center lg:justify-start">
        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <title>First star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <title>Second star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <title>Third star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <title>Fourth star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
        <svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg">
          <title>Fifth star</title>
          <path
            d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z">
          </path>
        </svg>
      </div>
      <small class="my-8 block">"Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime
        omnis soluta vero velit alias architecto officiis non minima et iste
        modi, quod reprehenderit, tempora saepe fugit beatae ea quo
        obcaecati?"</small>
      <div class="flex items-center justify-center lg:justify-start">
        <img class="w-10 h-10 rounded-full block mr-2" src="http://www.placecage.com/250/250" alt="Rounded avatar" />
        <p class="text-lg leading-tight">
          Henry Slade <br />
          <small class="text-sm text-gray-400 leading-tight">Founder</small>
        </p>
      </div>
    </div>
  </section>
  <!-- CTA -->
  <!-- <section
    class="py-8 px-4 md:px-8 lg:py-16 2xl:px-60 mx-auto grid gap-8 grid-cols-12 bg-emerald-600 relative text-slate-100">
    <div class="lg:col-span-4 lg:col-start-2 col-span-12 md:col-span-6">
      <h3 class="text-3xl Rlg:text-4xl font-medium mb-4">
        Download our mobile app
      </h3>
      <p class="opacity-70">
        With lots of unique blocks, you can easily build a page without
        coding. Build your newst landing page
      </p>
    </div>
    <div class="md:col-span-6 col-span-12 flex self-center items-center md:justify-self-end">
      <picture>
        <source srcset="./assets/app_store.webp" type="image/webp" />
        <source srcset="./assets/app_store.png" type="image/png" />
        <img src="./assets/app_store.png" alt="" />
      </picture>
      <picture>
        <source srcset="./assets/gplay.webp" type="image/webp" />
        <source srcset="./assets/gplay.png" type="image/png" />
        <img src="./assets/gplay.png" alt="" />
      </picture>
    </div>
  </section> -->
  <!-- footer -->
  <footer class="py-8 px-4 md:px-8 lg:py-16 2xl:px-60 mx-auto relative">
    <div class="grid grid-cols-12 gap-8 text-slate-500 py-16">
      <div class="col-span-6 xl:col-span-3">
        <img class="w-12 mb-6" src="https://tailwindui.com/img/logos/mark.svg?color=emerald&shade=400" alt="logo" />
        <ul>
          <li class="py-3"><a href="#">About</a></li>
          <!-- <li class="py-3"><a href="#">Features</a></li>
          <li class="py-3"><a href="#">Works</a></li>
          <li class="py-3"><a href="#">Career</a></li> -->
        </ul>
      </div>
      <div class="col-span-6 xl:col-span-3">
        <h4 class="foint-medium text-xl mb-6 text-slate-800">Help</h4>
        <ul>
          <li class="py-3"><a href="#">Customer Support</a></li>
          <!-- <li class="py-3"><a href="#">Delivery Details</a></li>
          <li class="py-3"><a href="#">Terms & conditions</a></li>
          <li class="py-3"><a href="#">Privacy Policy</a></li> -->
        </ul>
      </div>
      <!-- <div class="col-span-6 xl:col-span-3">
        <h4 class="foint-medium text-xl mb-6 text-slate-800">Resources</h4>
        <ul>
          <li class="py-3"><a href="#">Free Ebooks</a></li>
          <li class="py-3"><a href="#">Development Tutorial</a></li>
          <li class="py-3"><a href="#">How to - Blog</a></li>
          <li class="py-3"><a href="#">Youtube Playlist</a></li>
        </ul>
      </div> -->
      <!-- <div class="col-span-6 xl:col-span-3">
        <h4 class="foint-medium text-xl mb-6 text-slate-800">Extra Links</h4>
        <ul>
          <li class="py-3"><a href="#">Customer Support</a></li>
          <li class="py-3"><a href="#">Delivery Details</a></li>
          <li class="py-3"><a href="#">Terms & Condtitions</a></li>
          <li class="py-3"><a href="#">Privacy Policy</a></li>
        </ul>
      </div> -->
    </div>
    <div class="flex items-center flex-col lg:flex-row text-gray-400">
      <div class="flex items-center mb-2">
        <a class="mr-6" href="#"><img class="opacity-70" src="./assets/facebook.svg" alt="facebook" /></a>
        <a class="mr-6" href="#"><img class="opacity-70" src="./assets/instagram.svg" alt="instagram" /></a>
        <a class="mr-6" href="#"><img class="opacity-70" src="./assets/twitter.svg" alt="twitter" /></a>
        <a class="mr-6" href="#"><img class="opacity-70" src="./assets/github.svg" alt="github" /></a>
      </div>
      <a class="mb-2 lg:mb-0 text-center lg:text-left mr-6" href="#">Privacy Policy</a>
      <a class="mb-2 lg:mb-0 text-center lg:text-left mr-6" href="#">Terms and conditions</a>
      <a class="mb-2 lg:mb-0 text-center lg:text-left mr-6" href="#">Support</a>
      <p class="text-center lg:text-left lg:ml-auto">
        Copyright 2022, All Rights Reserved by Activity Tracker
      </p>
    </div>
  </footer>
</body>

</html>